- title "Запчасти для иномарок | Автомастер Самара"

.columns
	.column.x1
		.inner
			%h4 Срочно нужна помощь
			%p 
				Заполните специальную форму и отправьте нам заявку. 
				%br/
				После этого мы вам позвоним и расскажем вам как можно будет в короткие сроки получить нужную деталь. 			
			= link_to image_tag("btn_fill-request.png"), "#new_request_form", :rel => "facebox[.part_request]"
	.column.x1
		.inner
			%h4 Как до нас добраться
			%p
				Наш офис находится по адресу
				= succeed "." do
					%strong Южный проезд, 164
				%br/
				Мы работаем с понедельника по пятницу 
				%span.nobr с 9 до 18, 
				в субботу — 
				%span.nobr с 9 до 16 часов.
			%p
				Более подробно об этом на странице 
				= succeed "." do
					= link_to "контактной информации", page_path("contacts")
	.column.x1
		.inner
			%h4 Мы в соцмедиа
			%p Следите за нашими новостями.
			.social_bar
				%a{:href => ""}
					= image_tag "social/flickr.png", :height => 16, :width => 16, :class => "normal"
					= image_tag "social/flickr_disabled.png",  :height => 16, :width => 16, :class => "disabled"
				%a{:href => ""}
					= image_tag "social/twitter.png", :height => 16, :width => 16, :class => "normal"
					= image_tag "social/twitter_disabled.png",  :height => 16, :width => 16, :class => "disabled"
				%a{:href => ""}
					= image_tag "social/vkontakte.png", :height => 16, :width => 16, :class => "normal"
					= image_tag "social/vkontakte_disabled.png",  :height => 16, :width => 16, :class => "disabled"
