!!! 5
%html{:lang => "en-US"}
	%head
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
		%title
			= yield (:title)
		= stylesheet_link_tag "application"
		= javascript_include_tag "jquery.min", "jquery.hotkeys", "jquery.facebox", "application", "rails"
		= csrf_meta_tag
	%body
		= render :partial => "application/metrika"
		- if params[:controller] == "welcome"
			#new_request_form{:style => "display: none;"}
				= render :partial => "requests/form"
		= render :partial => "shared/flashes"
		.page-header-wrap
			.page-header
				#logo
					= link_to_unless_current(image_tag("logo.png"), root_url)
				#phone
					%h4 телефон для справок
					%span (846) 992-69-95
				#statements
					%h1 Мы — это:
					%ul
						%li Широкий спектр автомобильных запчастей европейских, японских и корейских производителей.
						%li Оригинал и достойные аналоги.
						%li Поставки из Москвы, С.Петербурга, Н.Новгорода и Самары.
						%li Багажники, фаркопы, защита двигателя.
						%li Оптимальные цены.
						%li Возможность доставки по городу.
			
		.border
		- if params[:controller] == "welcome"
			.page-special-wrap
				.page-special.columns
					.special-header
						%h3 Специальные предложения
						- if current_user
							%span= link_to "Все отзывы", feedbacks_url
					- @feedbacks.each_with_index do |feedback, i|
						.column.x1
							.inner
								.special-photo
									%span.round_picture{:style => "height: 58px; width: 58px;"}
										= image_tag feedback.picture_url(:thumb), :height => 58, :width => 58, :alt => feedback.full_name
								.special-content
									.special-content-name
										%h6= feedback.full_name
									.special-content-title
										= feedback.title
									.special-content-quote
										= surround '«', '»' do
											= feedback.body
									%div{:class => "pixel-car #{@cars[i]}"}
		
		.page-content-wrap
			.page-content	
				- if current_user
					= link_to "Выйти", logout_path		
				= yield
				
				%div{:style => "margin-top: 1em;"}
					= render "/shared/li"
			
		.page-footer-wrap
			.page-footer
				.columns
					.column.x1
						.inner
							%ul
								%li 
									Электропочта:
									= mail_to "info@samaraparts.ru"
								%li
									= link_to_unless_current "Адреса и телефоны", page_path("contacts")
					.copyright.column.x1
						.inner
							%i
							.made_by
								Site by
								= link_to "Adam Miribyan", "http://adammiribyan.com"
								%small 2011
